@model WebApplication8.Models.Spices

@{
    ViewBag.Title = "Edit Spices";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="~/Content/DRY_FRUITS_CHOCOLATES.CSS">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
            body {
                background-image: url('@Url.Content("~/Content/pexels-photo-1939485.jpeg")');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100%;
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif;
            }
            .top-right {
                position: absolute;
                top: 10px;
                right: 10px;
            }
            .inline-button {
                display: inline;
                margin-right: 5px; /* Optional: Adds some space between buttons */
            }

            .button-container {
                display: flex;
                gap: 10px; /* Optional: Adds some space between buttons */
            }

            .profile-icon {
                position: relative;
                display: inline-block;
            }
            .profile-dropdown {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }
            .profile-dropdown a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
            .profile-dropdown a:hover {
                background-color: #f1f1f1;
            }
            .profile-icon:hover .profile-dropdown {
                display: block;
            }
            .center-content {
                text-align: center;
                margin-top: 50px;
            }
            .top-center {
                text-align: center;
                margin-top: 20px;
            }
            .top-center img {
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
            }
            .action-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                gap: 10px;
            }
            .stock button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                border-radius: 4px;
            }
            .grid-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                justify-content: center;
                margin-top: 20px;
            }
            .grid-item {
                text-align: center;
                padding: 20px;
                background-color: rgba(255, 255, 255, 0); /* Transparent background */
                border: 1px solid #ddd;
                border-radius: 5px;
            }
            .grid-item img {
                width: 200px;  /* Set a fixed width */
                height: 200px; /* Set a fixed height */
                object-fit: cover; /* Maintain aspect ratio and cover the area */
                border-radius: 5px;
            }
    </style>
</head>
<body>
    <header>
        <div class="center-content">
            <a href="@Url.Action("ddryfruitsandspices", "Home")">
                <img src="~/Content/ganeshdevops.jpeg-removebg-preview.png" height="200px" width="250px" alt="Top Image">
            </a>
            <div class="top-right">
                <div class="profile-icon">
                    <i class="fas fa-user-circle fa-2x"></i>
                    <div class="profile-dropdown">
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 08f4c18630278d7eca78f7aecd599abc28350bda
                        <a href="@Url.Action("EditUser", "Login")"> <button onclick="myFunction()">PROFILE</button></a>
                        <a href="@Url.Action("ddryfruitsandspices", "Home")"> <button onclick="myFunction()">HOME</button></a>
                        <a href="@Url.Action("EditUser", "Login")"> <button onclick="myFunction()">SETTINGS</button></a>
                        <a href="@Url.Action("Login", "Login")"><button onclick="myFunction()">LOG OUT</button></a>
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
                        <a href="@Url.Action("EditUser", "Login")"> <button onclick="myFunction()">PROFILE</button></a>
                        <a href="@Url.Action("ddryfruitsandspices", "Home")"> <button onclick="myFunction()">HOME</button></a>
                        <a href="@Url.Action("EditUser", "Login")"> <button onclick="myFunction()">SETTINGS</button></a>
                        <a href="@Url.Action("Login", "Login")"><button onclick="myFunction()">SIGN OUT</button></a>
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 901688282898ff11154d4a648ba17e842570c831
                        <a href="@Url.Action("EditUser", "Login")"> <button onclick="myFunction()">PROFILE</button></a>
                        <a href="@Url.Action("ddryfruitsandspices", "Home")"> <button onclick="myFunction()">HOME</button></a>
                        <a href="@Url.Action("UserDetails", "Login")"> <button onclick="myFunction()">SETTINGS</button></a>
                        <a href="@Url.Action("Login", "Login")"><button onclick="myFunction()">SIGN OUT</button></a>
<<<<<<< HEAD
=======
=======
                        <a href="@Url.Action("Profile", "Home")">PROFILE</a>
                        <a href="@Url.Action("ddryfruitsandspices", "Home")">HOME</a>
                        <a href="@Url.Action("Settings", "Home")">SETTINGS</a>
                        <a href="@Url.Action("SignOut", "Home")">SIGN OUT</a>
>>>>>>> 7e3f928faabd10c9f152b7c1de955ce83682f9a1
>>>>>>> 901688282898ff11154d4a648ba17e842570c831
>>>>>>> 269e04670fc86126a2f86c6e82c9c95d19c9c894
>>>>>>> 021045f318c5c29aec4347f6ce09adbc8b00f79b
>>>>>>> 08f4c18630278d7eca78f7aecd599abc28350bda
                    </div>
                </div>
            </div>
        </div>
    </header>
    <p></p>
    @using (Html.BeginForm("Edit", "SpicesEdit", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ImageName)

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 08f4c18630278d7eca78f7aecd599abc28350bda
        <div class="form-horizontal" align="center">
            <h4>Spices</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <b>

                    @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" }):
                </b>
                &nbsp;&nbsp;&nbsp;&nbsp;
                @Html.DisplayFor(model => model.ImageName)
            </div>
            <p></p>
            <div class="form-group">
                <b>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" }):
                </b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="file" name="ImageFile" />
                @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                @if (Model.ImagePath != null)
                {
                    <img src="@Model.ImagePath" width="100" />
                }

            </div>
            <p></p>
            <div class="form-group">

                <b>
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" }):
                </b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

            </div>
            <p></p>

            <div class="form-group">
                <b>

                    @Html.LabelFor(model => model.ShortStory, htmlAttributes: new { @class = "control-label col-md-2" }):
                </b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.EditorFor(model => model.ShortStory, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShortStory, "", new { @class = "text-danger" })


            </div>
            <p></p>
            <div class="form-group">
                <b>
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" }):
                </b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

            </div>
            <p></p>
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 901688282898ff11154d4a648ba17e842570c831
>>>>>>> 269e04670fc86126a2f86c6e82c9c95d19c9c894
<div class="form-horizontal" align="center">
    <h4>DryFruits</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.ImageName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="ImageFile" />
            @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
            @if (Model.ImagePath != null)
            {
                <img src="@Model.ImagePath" width="100" />
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ShortStory, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ShortStory, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ShortStory, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
        <div class="form-horizontal" align="center">
            <h4>DryFruits</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ImageName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="ImageFile" />
                    @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                    @if (Model.ImagePath != null)
                    {
                        <img src="@Model.ImagePath" width="100" />
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

>>>>>>> 021045f318c5c29aec4347f6ce09adbc8b00f79b
>>>>>>> 08f4c18630278d7eca78f7aecd599abc28350bda
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 7e3f928faabd10c9f152b7c1de955ce83682f9a1
>>>>>>> 901688282898ff11154d4a648ba17e842570c831
>>>>>>> 269e04670fc86126a2f86c6e82c9c95d19c9c894
>>>>>>> 021045f318c5c29aec4347f6ce09adbc8b00f79b
>>>>>>> 08f4c18630278d7eca78f7aecd599abc28350bda
    }
