@model List<WebApplication8.Models.Spices>

@{
    ViewBag.Title = "Spices Matrix";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spices</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        body {
            background-image: url('/Content/pexels-photo-1939485.jpeg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100%;
        }

        .fa-cart-shopping {
            float: right;
            position: absolute;
            right: 100px;
            margin-left: 10px;
            height: 150px;
            width: 150px;
            font-size: 30px;
            top: 70px;
        }

        .fa-plus {
            float: right;
            position: absolute;
            right: 250px;
            margin-left: 10px;
            height: 150px;
            width: 150px;
            font-size: 30px;
            top: 70px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10%;
            justify-items: center;
            align-items: center;
            max-width: 100%;
            padding: 20px;
        }

        .grid-item {
            text-align: center;
        }

        .profile-dropdown button {
            width: 110%;
            padding: 4px 0;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
        }

        .profile-dropdown {
            display: none;
            position: absolute;
            text-align: center;
            background-color: white;
            font-size: 100%;
            padding: 10px 20px;
            width: 60%;
            border: 1px solid #070202;
        }

        .profile-settings {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        .profile-icon {
            float: right;
            position: absolute;
            right: 10px;
            margin-left: 30px;
            height: 150px;
            width: 150px;
            font-size: 30px;
            top: 70px;
        }

            .profile-icon:hover .profile-dropdown {
                display: block;
            }
    </style>
</head>
<body>
    <header>
        <div class="profile-icon">
            <i class="fas fa-user-circle"></i>
            <div class="profile-dropdown">
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 08f4c18630278d7eca78f7aecd599abc28350bda
>>>>>>> b1dc5a96c2a12a21bcf2f299120505f9b24b2849
                <a href="@Url.Action("EditUser", "Login")"><button>PROFILE</button></a>
                <a href="@Url.Action("Index")"><button>HOME</button></a>
                <a href="@Url.Action("EditUser", "Login")"><button>SETTINGS</button></a>
                <a href="@Url.Action("Login", "Login")"><button>LOG OUT</button></a>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
                <a href="@Url.Action("EditUser", "Login")"><button>PROFILE</button></a>
                <a href="@Url.Action("Index")"><button>HOME</button></a>
                <a href="@Url.Action("EditUser", "Login")"><button>SETTINGS</button></a>
                <a href="@Url.Action("Login", "Login")"><button>SIGN OUT</button></a>
=======
                <a href="@Url.Action("Profile", "Home")"> <button>PROFILE</button></a>
                <a href="@Url.Action("Index", "Home")"> <button>HOME</button></a>
                <a href="@Url.Action("Settings", "Home")"> <button>SETTINGS</button></a>
                <a href="@Url.Action("SignOut", "Home")"><button>SIGN OUT</button></a>
>>>>>>> 269e04670fc86126a2f86c6e82c9c95d19c9c894
>>>>>>> 021045f318c5c29aec4347f6ce09adbc8b00f79b
>>>>>>> 08f4c18630278d7eca78f7aecd599abc28350bda
>>>>>>> b1dc5a96c2a12a21bcf2f299120505f9b24b2849
            </div>
        </div>
        <a href="@Url.Action("Index", "SpicesEdit")">
            <i class="fa-solid fa-plus"></i>
        </a>
    </header>

    <center>
        <a href="@Url.Action("ddryfruitsandspices", "Home")">
            <img src="/Content/ganeshdevops.jpeg-removebg-preview.png" height="150px" width="400px">
        </a>
    </center>

    <div class="grid-container">
        @foreach (var item in Model)
        {
            <div class="grid-item">
                @if (string.IsNullOrEmpty(item.ImagePath))
                {
                    <p>No Image Available</p>
                }
                else
                {
                    <a href="@Url.Action("Details", "SpiceDetails", new { id = item.ImageName })">
                        <img src="@Url.Content(item.ImagePath)" alt="Image" height="200px" width="200px">
                    </a>
                }
                <h3>@item.ImageName</h3>
            </div>
        }


    </div>
</body>
</html>

