@model WebApplication8.Models.TableCreateModel

@{
    ViewBag.Title = "Create Table";
}

<h2>Create Table</h2>

@using (Html.BeginForm("CreateTable", "Table", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.TableName)
        @Html.TextBoxFor(m => m.TableName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TableName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ImageFile)
        @Html.TextBoxFor(m => m.ImageFile, new { type = "file" })
        @Html.ValidationMessageFor(m => m.ImageFile)
    </div>

    <button type="submit" class="btn btn-primary">Create Table</button>
}
