@model IEnumerable<WebApplication8.Models.TableDetail>

@{
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b1dc5a96c2a12a21bcf2f299120505f9b24b2849
    ViewBag.Title = "List Tables";
}

<h2>List Tables</h2>
<<<<<<< HEAD
=======
=======
    ViewBag.Title = "List of Tables";
}

<h2>List of Tables</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        @ViewBag.Message
    </div>
}
>>>>>>> 08f4c18630278d7eca78f7aecd599abc28350bda
>>>>>>> b1dc5a96c2a12a21bcf2f299120505f9b24b2849

<table class="table">
    <thead>
        <tr>
            <th>Table Name</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var table in Model)
        {
            <tr>
                <td>@table.TableName</td>
                <td>
                    @if (table.ImageData != null)
                    {
<<<<<<< HEAD
                        <a href="@Url.Action("AddData", "Table", new { tableName = table.TableName })">
                            <img src="@Url.Action("GetImage", "Table", new { tableName = table.TableName })" alt="Table Image" style="width: 100px; height: 100px;" />
                        </a>
=======
<<<<<<< HEAD
                        <a href="@Url.Action("AddData", "Table", new { tableName = table.TableName })">
                            <img src="@Url.Action("GetImage", "Table", new { tableName = table.TableName })" alt="Table Image" style="width: 100px; height: 100px;" />
                        </a>
=======
                        <img src="@Url.Action("GetImage", new { tableName = table.TableName })" alt="@table.TableName" style="width: 100px; height: 100px;" />
                    }
                    else
                    {
                        <span>No image available</span>
>>>>>>> 08f4c18630278d7eca78f7aecd599abc28350bda
>>>>>>> b1dc5a96c2a12a21bcf2f299120505f9b24b2849
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
